#back
{
    background-image: url(http://localhost/images/config/fundo.png);
    height: 624px;
}
#quadroum
{
 
    height: 100px;
   
}
#quadrodois
{
    
    height: 523px;
    
}
#caixaAluno
{
    margin-top: 10px;
    margin-left: 100px;
}
#Cdate
{
margin-left: 20%;
}
#caixaExemple
{
    margin-top: 20px;
    margin-left: 200px;
}
#caixa2
{
    margin-top: 20px;
    margin-left: 50px;
}
#caixa3
{
    margin-top: 20px;
    margin-left: 50px;
}
#caixa4
{
    margin-top: 20px;
    margin-left: 50px;
}
#CCheck2
{
    margin-top: 20px;
    margin-left: 50px;
}
#caixa5
{
    margin-top: 20px;
    margin-left: 84px;
}
#caixa6
{
    margin-top: 20px;
    margin-left: 50px;
}
#caixa7
{
    margin-top: 20px;
    margin-left: 50px;
}
#caixa8
{
    margin-top: 20px;
    margin-left: 103px;
}
#caixa9
{
    margin-top: 20px;
    margin-left: 50px;
}
#caixa10
{
    margin-top: 20px;
    margin-left: 50px;
}
#caixa11
{
    margin-top: 20px;
    margin-left: 108px;
}
#caixa12
{
    margin-top: 20px;
    margin-left: 50px;
}
#caixa13
{
    margin-top: 20px;
    margin-left: 50px;
}
#caixa14
{
    margin-top: 20px;
    margin-left: 157px;
}
#caixa15
{
    margin-top: 20px;
    margin-left: 50px;
}
#caixa16
{
    margin-top: 20px;
    margin-left: 50px;
}
#caixa17
{
    margin-top: 20px;
    margin-left: 189px;
}
#caixa18
{
    margin-top: 20px;
    margin-left: 50px;
}
#caixa19
{
    margin-top: 20px;
    margin-left: 50px;
}
#caixa20
{
    margin-top: 20px;
    margin-left: 35px;
}
#caixa21
{
    margin-top: 20px;
    margin-left: 50px;
}
#caixa22
{
    margin-top: 20px;
    margin-left: 50px;
}
#caixa23
{
    margin-top: 20px;
    margin-left: 127px;
}
#caixa24
{
    margin-top: 20px;
    margin-left: 50px;
}
#caixa25
{
    margin-top: 20px;
    margin-left: 50px;
}
#caixa26
{
    margin-top: 20px;
    margin-left: 94px;
}
#caixa27
{
    margin-top: 20px;
    margin-left: 50px;
}
#caixa28
{
    margin-top: 20px;
    margin-left: 50px;
}

