# HTID:10998305: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:10998305:

Options All -Indexes

<files vendor>
order allow,deny
deny from all
</files>

<files *.*>
order allow,deny
deny from all
</files>

<files index.php>
allow from all
</files>

<files *.css*>
allow from all
</files>

<files *.png*>
allow from all
</files>

<files *.jpg*>
allow from all
</files>

<files *.ico*>
allow from all
</files>

<IfModule mod_rewrite.c>
    RewriteEngine On 

    RewriteRule ^Autenticar/?$ /?m=login&p [NC,L]
    
    RewriteRule ^NovoCadastro/?$ /?m=cadastro&p [NC,L]

    RewriteRule ^Dashboard?$ /?p=Dashboard&m [NC,L]

    RewriteRule ^Logout/?$ /?m=Logout&p [NC,L]

    RewriteRule ^Invalido/?$ /?p=Invalido&m [NC,L]

    RewriteRule ^Personal?$ /?p=Personal&m [NC,L]

    RewriteRule ^Admin?$ /?p=Admin&m [NC,L]

    RewriteRule ^Treino?$ /?m=treino&p [NC,L]

    RewriteRule ^Config?$ /?m=Config&p [NC,L]

    RewriteRule ^AtualizaDados?$ /?m=update&p [NC,L]

</IfModule>