<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastrado Com Sucesso</title>
</head>
<body>
        <h2>Cadastrado Com Sucesso!</h2>'
        <h1>Cadastrado com sucesso!</h1>'
        <hr>
        <form action="Logar" method="POST">
            Fazer Login : <input type="submit" value="Logar"> </form>'
        
        <form action="/" method="POST">
            Voltar ao Inicio : <input type="submit" value="Voltar"> </form>'

        <hr>
</body>
</html>