<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="/css/list.css">
</head>
<body>
    <div id="customers">
    <table  border=1 id="customers">
            <tr>
                <th> Id_User </th>
                <th> ID_Pagamento </th>
                <th> ID_Exp </th>
                <th> ID_Ser </th>
                <th> ID_pho </th>
                <th> Nome </th>
                <th> E-mail </th>
				<th> Senha </th>
				<th> CPF </th>
                <th> Telefone </th>
                <th> Token </th>
				<th> Nivel </th>
				<th> Ativo </th>
                <th> Data De Cadastro </th>
            </tr>
            {items}
    </table>
    </div>
</body>
</html>