<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Logar</title>
    <link rel="stylesheet" type="text/css" href="./css/login2.css">
    <link rel="irineu" href="images/favicon2.ico" />
</head>
<body>
    <div id="conteudo">
        <div class="form inputs">
            
                <img class="foto" src="./images/login/icon.png">
                <h3 class="name" >Gym Gride</h3>
                <br>
            <form action="Autenticar" method="POST">
                <span class="name">Insira seu email</span><br>
                <input class="icone" type="text" name="email">
                <br>
                <br>
                <span class="name">Insira sua senha</span><br>
                <input class="icone" type="password" name="password">
                <br>
                <br>
                <div class="button btn">
                <input type="submit" value="Logar">
                </div>
            </form>
        </div>
    </div>
</body>
</html>