<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="images/favicon2.ico" />
    <title>Fazer Login</title>
    <link rel="stylesheet" type="text/css" href="./css/login.css">
</head>
<body>
    
        <div id="cabecalho">
        </div>
        <h1 style="color: rgb(5, 93, 255); margin: -80px 500px 0px;">GymGride</h1>
            <div class="form">
                <div class="border inputs">
                <form action="Autenticar" method="POST">
                        Insira Seu Email:<br>
                        <input type="email" name="email">
                        <br>
                        <br>
                        Insira Sua Senha:<br>
                        <input type="password" name="password">
                <br>
                </div>       
            </div>
                <div class="button btn">
                    <br>
                    <input type="submit" value="Fazer Login">
                </form>
                </div>
    
    
















</body>
</html>