#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#customers td, #customers th {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
}
  
#customers tr {
    background-color: #f2f2f2;
}
  
#customers tr:hover {
    background-color: #ddd;
}
  
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

body {
    background-color: lightblue;
}