#div_centro
{
    background-color:#DCDCDC;

    height: 575px;
    margin: 50px 0px 0px;
}
body
{
    background-color: #1E90FF;
}
hr
{
    color: black;
    background-color: black;
}
#linha
{
    background-color: black;
    height: 1px;
}