<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>|-BankDB-|</title>
</head>
<body>
    <h2>Site BankDB v3.0</h2>
<form action="Login.html" method="POST">
    Logar: <input type="submit" value="Fazer Login">
</form>
<form action="Cadastro.html" method="POST">
    Cadastrar: <input type="submit" value="Fazer Cadastro">
</form>

</body>
</html>