<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>|-GymGride-|</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body>
    <div id="div">
        <h2>Site GymGride v1.0</h2>
        <form action="http://localhost:1234/?p=Login" method="POST">
            <input class="btn btn-login" type="submit" value="Fazer Login">
        </form>
        <form action="http://localhost:1234/?p=cadastro" method="POST">
            <input class="btn btn-cadastro" type="submit" value="Fazer Cadastro">
        </form>
    </div>

</body>
</html>