<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>|-Fazer Login-|</title>
</head>
<body>
    <h2>Site GymGride v3.0</h2>
    <hr>
<form action="../Controller/UserController.php" method="POST">

    <table border="solid">
        <tr>
          <th>Fazer Login:</th>
        </tr>
        <tr>
          <td>Insira Seu email: <input type="email" name="email"></td>
        </tr>
        <tr>
          <td>Insira Sua senha: <input type="password" name="password"></td>
        </tr>
    </table> 
    <hr width="500" align="left">
    <input type="submit" value="Fazer Login">
</form>

</body>
</html>